################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Keycloak.NET.FluentAPI/.vs/Keycloak.NET.FluentAPI/v16
/Keycloak.NET.FluentAPI/Keycloak.NET.FluentAPI/bin/Debug/netstandard2.0
/Keycloak.NET.FluentAPI/Keycloak.NET.FluentAPI/obj
/UT.Keycloak.NET.FluentAPI/bin/Debug/netcoreapp3.0
/UT.Keycloak.NET.FluentAPI/obj
/Keycloak.NET.FluentAPI/Keycloak.NET.FluentAPI/Keycloak.NET.FluentAPI.csproj.user
bin
/Keycloak.NET.Client.FluentAPI/.vs/Keycloak.NET.Client.FluentAPI/v16
/Keycloak.NET.Client.FluentAPI/Keycloak.NET.Client.FluentAPI/obj
/UT.Keycloak.NET.Client.FluentAPI/obj
/Keycloak.NET.Client.FluentAPI/.vs/Keycloak.NET.Client.FluentAPI/DesignTimeBuild
/Keycloak.NET.Client.FluentAPI/Keycloak.NET.Client.FluentAPI/Keycloak.NET.Client.FluentAPI.csproj.user
